<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Đặt lại mật khẩu</title>
</head>
<body>
<h1>Đặt lại mật khẩu của bạn</h1>
<h4>Xin chào <span th:text="${user.username}"></span></h4>
<p>Chúng tôi được biết mật khẩu của bạn đã bị mất. Rất tiếc vì điều đó!.</p>
<p>Nhưng bạn có thể dùng mã bên dưới để có thể đặt lại mật khẩu của mình:</p>
<p style="font-size: 20px;font-weight: 700; margin: 10px 0;" th:text="${otp}"></p>
<p>Xin cảm ơn</p>
</body>
</html>