
.title {
    color: #3d3d3d;
    padding: 7.2px 15px;
    border-top: 1px solid #ddd;
    font-size: 1.44rem;
    display: block;
    font-weight: 500;
    transition: all .3s;

    &:hover {
        background-color: #e4e4e4;
    }
    &:active {
        opacity: .6;
    }
}

.sub-menu {
    border: 1px solid #ddd;
    border-top: 0;
    position: relative;
    background-color: #fff;

    .arrow{
        position: absolute;
        left: -11px;
        top: 15%;
        width: 0;
        height: 0;
        opacity: 0.3;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-right: 10px solid #333;
    }

}