.wrapper {
    background-color: var(--white);
    padding: 1rem 0;

    .wrapper-order {
        display: flex;
        justify-content: center;
    }

    .back-to-product {
        margin: 0 10rem;
        margin-top: 5rem;
        svg {
            margin-right: 1rem;
        }

        @media (max-width: 480px) {
            display: block;
            margin: 0 auto;
            margin-top: 3rem;
            padding-left: 1.3rem;
            padding-right: 1.3rem;

        }
    }
}

.order {
    flex-basis: 60%;
    font-size: 1.6rem;
    padding: 3rem;

    @media (max-width: 840px) {
        flex-basis: 100%;
    }

    @media (max-width: 740px) {
        padding: 3rem 1rem;
    }

    h3 {
        text-transform: uppercase;
    }

    .label,
    .price {

        font-weight: 600;
    }

    .button-order {
        margin-top: 3rem;
        background-color: #2e903b;
        border-color: #2e903b;
        text-transform: uppercase;
    }

    table {
        margin-top: 2rem;

        th {
            border-bottom: 3px solid #ececec;

            &:nth-child(1) {
                text-align: start;
            }

            &:nth-child(2) {
                text-align: end;
            }
        }

        td {
            &:nth-child(1) {
                padding: 1.5rem 1rem;
                padding-left: 0;
                width: 70%;

            }

            &:nth-child(2) {
                padding: 1.5rem 1rem;
                padding-right: 0;
                text-align: end;
                width: 20%;

            }

            border-bottom: 1px solid #ececec;
        }
    }
}