.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;


    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #0006;
    }
}
.popup-delivery {
    position: absolute;
    background-color: #fff;
    max-width: 100rem;
    text-align: start;
    border: 1px solid var(--black);
    border-radius: 1rem;
    max-height: calc(100vh - 1rem);
    overflow-x: scroll;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    h3 {
        background-color: var(--primary);
        font-size: 1.6rem;
        padding: .5rem;
        color: var(--white);
        text-transform: uppercase;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 2rem;
        gap: 2rem;
    }

    .content {
        width: 100%;
        display: flex;
        padding: 0 1rem;
        user-select: none;


        .left {
            flex-basis: 40%;
        }

        .right {
            flex: 1;
        }

        input[type=radio] {
            margin-left: 1.5rem;
        }

        label {
            display: inline-flex;
            align-items: center;
            gap: .3rem;
            cursor: pointer;
        }
    }


    &:active {
        opacity: 1;
    }

    .row {
        display: flex;
        width: 100%;        
    }

    .col-4 {
        flex-basis: 40%;
    }

    ;

    .col-4,
    .col-6 {
        border: 1px solid #ececec;
        padding: .3rem;
        align-content: center;
    }

    .col-6 {
        flex-basis: 60%;

    }
    span {
        margin-left: 1rem;
    }
}